/************/
/*  GLOBAL  */
/************/
body {margin: 0 0; font-size: 12px; font-family: arial, "lucida console", sans-serif;}
a {text-decoration: none}
#container {margin: 0 auto; width: 960px; background-color:#ccc}
#hd {background-color: #888; min-height: 110px !important; padding-top:10px;}
#hdMain { background-color: #888; min-height: 70px; margin-left: 10px; margin-right: 10px;}
#hdNav { background-color: #AAA; min-height: 40px;}
#hdNavLinks {float:left; margin-left: 10px;padding-top:10px;}
#hdConfigSelector {float:right; margin-right:10px;padding-top:10px;}
#bd {margin-bottom: 10px;min-height: 400px !important;margin:10px;text-align:left;}
#ft {text-align: center;font-size: 10px;height:41px;background-color: #AAA;}

.spreader {clear:both;}

/* Layout Styles */
#hdMain {font-weight:bold; font-size:14px; padding-top:15px; margin-bottom: -15px;}
#ftText {padding-top: 7px;}

/* Generic Styles */
.sectionTitle {font-weight: bold; font-size: 14px}
.sectionWrapper {text-align:center;}
.sectionInfo {padding:10px; text-align: center; background-color: #FDFD9F; margin: 10px auto; border: 1px solid black; width: 500px;}



/* Table Selection Links */
.tableLink {font-weight: bold;}
.tableCount {font-style: italic; margin-left: 5px;}

.Column-Ok {background-color:#A1E3A3; border-right: 1px solid black;}
.Column-Bad {background-color:#F58C91; border-right: 1px solid black;}
.Column-Missing {padding-top:15px;}

.tableContainer {background-color:#fff; margin-top:10px; margin-bottom:10px;padding:10px;}
.tableContainer p {margin-bottom:10px;}

.tableContainer ul {margin: 0px; list-style: circle;}
.tableContainer ul li {margin-left: 15px; padding-left: 0px; list-style: disc;}

.tableContainer ol {margin: 0px; list-style: decimal;}
.tableContainer ol li {margin-left: 15px; padding-left: 10px; list-style: decimal;}
.tableContainer ol li ol {margin: 5px 0px; }
.tableContainer ol li ol li {margin-left: 15px; padding-left: 5px; list-style: lower-alpha;}

.containerHeader {font-weight:bold;}
.tableContainer-HeaderRow { background-color:#000; color: #fff; font-weight:bold;padding:10px;}
.tableContainer-HeaderCell {float:left;text-align:center;}
.tableContainer-BodyRow {margin-top:10px; border-bottom:1px solid black; border-left:1px solid black0;}
.tableContainer-BodyCell {float:left; text-align:center;}
.tableContainer-ResultRow {border-top:1px solid black;}
.tableContainer-ResultRow-Label {float:left;padding:5px;font-weight: bold; margin-right:10px;text-align:left;}
.tableContainer-ResultRow-Data {float:left;padding:5px;}

.tableContainer-PaginationTop {text-align: center; margin-bottom: 10px;}
.tableContainer-PaginationBottom {text-align: center; margin-top: 10px;}

.diffGenerator {text-align: center; width:100%;}
.generatorOutput {margin: 10px auto 0px auto; border: 1px solid black; padding:10px; text-align: left; width: 800px; background-color: #fff; display: none;}